/* Login Css */
.login-mainbox {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content-box {
  border-radius: 1rem;
}





/* Regiter Css */
.register-mainbox {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-content-box {
  border-radius: 1rem;
}