.status-complete {
    color: #28a745;
    /* Green for completed percentage */
    font-weight: bold;
}

.status-pending {
    color: #dc3545;
    /* Red for pending percentage */
    font-weight: bold;
}

.end-test-btn {
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
}

.end-test-btn:hover {
    background-color: #c82333;
    color: white;
}