.custom-table-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
}

.heading-btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.custom-table {
    width: 100%;
    margin-top: 20px;
}

.custom-table thead th {
    font-weight: bold;
    text-align: center;
}

.custom-table-row td {
    text-align: center;
    vertical-align: middle;
    font-size: 0.9rem;

}

.status-attend {
    font-weight: bold;
}

.status-missed {
    font-weight: bold;
}

.high-score {
    font-weight: bold;
}

.custom-table-row:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}