.heading-btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}




.status-attend {
    font-weight: bold;
}

.status-missed {
    font-weight: bold;
}

.high-score {
    font-weight: bold;
}