.analytic-btn-modal {

    position: fixed;
    top: 1.6rem;
    left: 1.45rem;
    z-index: 10000;
}


.btn-box {
    position: fixed;
    /* Change to fixed */
    width: 6%;
    height: 8%;
    left: 32vw;
    border: 2px solid rgb(255, 255, 255);
    z-index: 10000;
    bottom: 2%;
    /* Added Bootstrap class */
}