.container-fluid {
  padding: 2.5rem;
}

.navbar-right {
  min-height: 75vh;
}

.content-wrapper {
  overflow: hidden;
  height: 100%;
  border-radius: 1rem;
}

.content-scroll {
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}